@model ProjetoEnngie.Models.UsinaVM


@{
    ViewBag.Title = "Usina - Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="h3 mb-2 text-gray-800"><i class="fas fa-fw fa-edit"></i>Usina</h1>
<div class="card shadow" style="padding:10px;">


    @using (Html.BeginForm("Edit", "Usina", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Partial("_form", Model);
    }
</div>
