@model ProjetoEnngie.Models.FornecedorVM


@{
    ViewBag.Title = "Fornecedor - Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="h3 mb-2 text-gray-800"><i class="fas fa-fw fa-edit"></i>Fornecedor</h1>
<div class="card shadow" style="padding:10px;">


    @using (Html.BeginForm("Edit", "Fornecedores", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Partial("_form", Model);
    }
</div>


@section scripts
    {
    <script type="text/javascript">
        {
           
        }
    </script>
}