@model IEnumerable<ProjetoEnngie.Models.FornecedorVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Página Inicial Fornecedores</h1>

<p>
    <a asp-action="Create">Novo Cadastro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info">Editar</a> |
                    <button onclick="Excluir('@item.Id')" class="btn btn-danger">Excluir</button>
                </td>
            </tr>
        }
    </tbody>
</table>


@section scripts
    {
    
    <script type="text/javascript">


         function Excluir(Id) {
            if (confirm("Deseja mesmo deletar este registro?")) {
                var url = "/Usina/Delete/" + Id;
                $.ajax({
                    url: url,
                    type: 'Delete',
                }).done(function () {
                    alert("Deletado!")
                });
            }
            else {
                alert("Cancelado!")
            }
        }

    </script>
}

